@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*
{
    outline: none !important;
}

li
{
    list-style-type: none;
}
body
{
    font-family: 'Josefin Sans', sans-serif !important;
    scroll-behavior: smooth;
}
p
{
    color: #525050;
}
a:hover{
    text-decoration: none;
}
.right
{
    
    animation: bounceInRight; 
    animation-duration:2s; 
}
.left
{
    animation: bounceInLeft; 
    animation-duration:2s;
}
.up
{
    animation: bounceInUp; 
    animation-duration:2s;

}
::-moz-selection { /* Code for Firefox */
    color: #ffffff;
    background: #B7C938;
  }
  
  ::selection {
    color: #ffffff;
    background: #B7C938;
  }

/********************************End of all ******************************************/

nav 
{
    background-color:rgba(255, 255, 255,1) !important;
    z-index: 10000;
}
.navbar-toggler-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#514E7F !important;
}
nav  ul a 
{
    color: #514E7F !important;
    cursor: pointer !important;
    /*color: #BFD42F !important;*/
}
nav ul a:hover
{
    color: gray;
}
nav ul li 
{
    padding: 0px 10px;
}
.navbar-brand
{
    color: #BFD42F;
}
.navbar-brand img
{
    width: 50px;
    margin-right: 10px;

}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}


/*********************************************End Navbar************************************************/


header
{
  height: 550px;
  width: 100%;
  background-image: url(../Assets/images/header.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
header .overlay
{
  width: 100%;
  height: 100%;
  background: rgb(191,212,47);
  background: linear-gradient(129deg, rgba(191,212,47,1) 0%, rgba(191,212,47,0.1516981792717087) 67%, rgba(255,255,255,1) 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}
header .content 
{
  width: 70%;
}
header .content h1
{
  font-size: 60px;
  font-weight: 900;
  color: #ffffffec;
}
header .content p
{
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
}
 header .btn-1
{
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 13px;
  color: black;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 1s;
  font-size: 16px;
}
header .btn-1:hover
{
  background-color: #BFD42F;
  color: #ffffff;
  text-decoration: none;
}
header .social-media
{
  position: fixed;
  top: 40%;
  left: 95%;
  z-index: 1000000000000000;
}
header .i
{
  margin: 10px 0px;
  background-color: #ffffff;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center !important;
  border-radius: 50%;
  color: #BFD42F !important;
  font-size: 20px;
  border: 1px solid #BFD42F;
  box-shadow: 1px 1px 1px 1px #deee78;
  transition: all 1s;
}
header a
{
  color: #BFD42F;
}
header .i:hover
{
  background-color: #BFD42F;
  color: #ffffff;
}
header .i:hover a
{
  color: #ffffff;
}

@media (max-width: 575.98px) 
{
  header
  {
    height: 700px;
    width: 100%;
    background-size: cover;
  }
 
  header .content 
  {
    width: 90%;
  }
  header .content h1
  {
    font-size: 60px;
  }


  header .social-media
  {
    left: 90%;

  }

}

@media (min-width: 576px) and (max-width: 767.98px) 
{
  header
  {
    height: 700px;
    width: 100%;
    background-size: cover;
  }
 
  header .content 
  {
    width: 90%;
  }
  header .content h1
  {
    font-size: 60px;
  }


  header .social-media
  {
    left: 92%;

  }
}
/*******************************************End Header***********************************/



.about-Us
{
    padding: 70px 0px;
    overflow: hidden;
}
.about-Us h6
{
    font-size: 20px;
    color: #514E7F;
}
.about-Us .About-content p
{
    font-size: 17px;
    font-weight: 500;
    line-height: 1.8em;
  
}
.about-Us .About-content .About
{
    
    overflow: auto;
}
.about-Us .About-content .About .icon 
{
    width: 15%;
    float: left;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-cont
{
    background-color: #BFD42F;
    width:40px ;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-Us .About-content .About .icon i
{
    font-size: 25px;
    color: #ffffff;
}
.about-Us .About-content .About .content
{
    width: 85%;
    float: left;
}
.m
{
    margin-top: 20px;
}
.about-Us img:hover 
{
    transform: scale(1.1,1.1);

}


  .about-Us img  {
    animation: MoveUpDown 2s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 50px;

    transition-duration: 1s;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 45px;
    }
}
.icon-cont  {
    animation: MoveUpDowni 2s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;
  }
  
  @keyframes MoveUpDowni {
    0%, 100% {
      bottom: 10;
    }
    50% {
      bottom: 20px;
    }
}
.img
{
    text-align: center;
}
.about-left
{
    animation: bounceInLeft; 
    animation-duration:2s;
}
.about-right
{
  
    animation: bounceInRight; 
    animation-duration:2s; 
}


/*extra small devices */
@media (max-width: 575.98px) 
{
    .about-Us
{
    padding: 70px 20px;
}
.about-Us h1
{
    font-size: 30px;
}

.about-Us .About-content p
{
    font-size: 16px; 
}


.icon-cont
{

    width:35px ;
    height: 34px;
 
}
.about-Us .About-content .About .icon i
{
    font-size: 20px;
}
.about-Us .About-content .About .icon
{
    display: none;
    

}




  .about-Us .img  {
    
      margin-top: 20px;

  }
  .m
  {
      margin-top: 10px;
  }
   

}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) 
{
    
    .about-Us h1
    {
        font-size: 35px;
    }
    
    
    
    .icon-cont
    {
    
        width:35px ;
        height: 34px;
     
    }
    .about-Us .About-content .About .icon i
    {
        font-size: 20px;
    }

    
      .about-Us .img  {
        
          margin-top: 20px;
    
      }
      .m
      {
          margin-top: 10px;
      }

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px)
{
    
      .about-Us .img  {
        
          margin-top: 25px;
    
      }
      .m
      {
          margin-top: 10px;
      }
}
/**************************************End About us *****************************************/




.why-us 
{
    background-image: url(../Assets/images/whyus-bg.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 80% 150%;
    padding: 50px 0px;
    overflow: hidden;
    
}
.why-us-right
{
   overflow: hidden; 
  animation: bounceInUp; 
  animation-duration:2s;
}
.why-us-left
{
    padding-right: 30px;
    overflow: hidden; 
  animation: bounceInLeft; 
  animation-duration:2s;
}
.why-us-left h6
{
    margin-bottom: 30px;
    color: #514E7F;
    font-size: 20px;
}
.why-us-left h1
{
    color: #000000;
    font-size: 38px;
    line-height: 1.3em;
    letter-spacing: 0.4px;
    margin-bottom: 30px;
}
.why-us-left p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    
}
.feature 
{
    position: relative;
    background-color: #ffffff;
    padding:  25px;
    margin: 30px 0px;
    bottom: 0px;
    transition: bottom 0.5s linear; 
    box-shadow: 0px 0 36px 0px rgba(130, 136, 147, 0.08);
    border-bottom-right-radius:20px ;
    border-top-right-radius:20px ;
}

.feature i
{
    font-size: 30px;
    color: #BFD42F;
    margin-bottom: 20px;
}
.feature h5
{
    color: #000000;
}
.feature p
{
    font-size: 16px;
    line-height: 1.9em;
    color: #514E7F;
    
}
.feature:hover
{
  bottom: 20px;  
}

.why-us .m
{
    margin-top: 120px;
}
.why-us-left .img
{
    text-align: center;
}
.why-us-left .img img  {
    animation: MoveUpDown 3s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;

    transition-duration: 1s;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 40px;
    }
}
.why-us-left .img img:hover 
{
    transform: scale(1.1,1.1);
}
.why-us2
{
    position: relative;
    padding: 50px 0px;
    overflow: hidden;
}
.why-us2 .spin
{
    position: absolute;
    top: 10px;
    bottom: 0px;
    right: 0px;
    width: 800px;
    height: 800px;
    animation: spin 10s linear infinite;
    overflow: hidden
}
@keyframes spin {
    0% 
    {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }

.why-us2 .m2
{
    margin-top: 50%;

}
.why-us3
{
    background-image: url(../Assets/images/why-us3-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.why-us3 .feature2 
{
    box-shadow: 0px 0 36px 0px rgba(130, 136, 147, 0.08);;
    padding: 10px 20px;
    margin: 20px 0px;
    overflow: auto;
    position: relative;
    bottom: 0px;
    transition: bottom 0.5s linear; 
}
.why-us3 .feature2 .icon
{
    width: 15%;
    float: left;
    font-size: 35px;
    color: #BFD42F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.why-us3 .feature2 .feature-content
{
    width: 85%;
    float: left;
}
.feature2 i
{
    font-size: 30px;
    color: #BFD42F;
    margin-bottom: 20px;
}
.feature2 h5
{
    color: #000000;
}
.feature2 p
{
    font-size: 16px;
    line-height: 1.9em;
    color: #514E7F;
    
}
.feature2:hover
{
  bottom: 20px;  
}
.why-us3 img 
{
    display: inline-block;
  margin: 0 0.5rem;
  animation:shakeX infinite;
  animation-duration: 10s;
}
.bg-4
{
    background-image: url(../Assets/images/bg4.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px 0px;  
}
.wow1
{
    animation: bounceInLeft; 
    animation-duration:3s; 
}
.wow2
{
    animation:bounceInUp;
    animation-duration: 3s;
}

.wow3
{
    animation:bounceInUp;
    animation-duration: 3s;
}
.wow4
{
    animation:bounceInRight;
    animation-duration: 3s;
}

/*extra small devices */
@media (max-width: 575.98px) 
{
    .why-us2 .m2
    {
        margin-top: 0%;
    
    }
    .why-us-left h1
{
    font-size: 30px;
}
   

}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .why-us2 .m2
    {
        margin-top: 0%;
    
    }
    

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px)
{
    
    
    .why-us2 .m2
    {
        margin-top: 0%;
    
    }
}
/**********************************************End Why *****************************************/


.typed
{
    background-image: url(../Assets/images/typed-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
   
}
.typed .overlay
{
    padding: 70px;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 135, 28, 0.7);
    text-align: center;
    color: #ffffff !important;
}
.typed .overlay .container 
{
    width: 70% !important;
}
.typed-element
{
    color: #B8CD2D;
}


/*extra small devices */
@media (max-width: 575.98px) 
{
    .typed
{
  
    background-size:cover;
    overflow: hidden;
   
}
.typed h1
{
    font-size: 30px;
}

.typed .overlay .container 
{
    width: 90% !important;
}
  

}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .typed
    {
      
        background-size:cover;
        overflow: hidden;
       
    }
    .typed .overlay
    {
        padding: 100px 50px;
    }
    .typed h1
    {
        font-size: 35px;
    }
    
    .typed .overlay .container 
    {
        width: 100% !important;
    }
    

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px)
{
    
    
    .typed
    {
      
        background-size:cover;
        overflow: hidden;
       
    }
    .typed .overlay
    {
        padding: 100px 10px;
    }
   
    
    .typed .overlay .container 
    {
        width: 100% !important;
    }
    
}
/***************************************End typed **************************************/



.service-content-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-content-container h6
{
    color: #514E7F;
    margin-bottom: 30px;
    font-size: 20px;
}
.service-content-container h1
{
    margin-bottom: 30px;
    color: black;
}
.services img  {
    animation: MoveUpDown 4s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;
  }
  .services2 img  {
    animation: MoveUpDown 4s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 10;
    }
    50% {
      bottom: 20px;
    }
}
.services2
{
    padding: 100px 0px;
    
}
.service
{
    position: relative;
    background-color: #ffffff;
    padding:  25px;
    margin: 30px 0px;
    bottom: 0px;
    transition: bottom 0.5s linear; 
    box-shadow: 0px 0 36px 0px rgba(130, 136, 147, 0.08);;
    border-bottom-right-radius:20px ;
    border-top-right-radius:20px ;
   
}

.service i
{
    font-size: 35px;
    color: #BFD42F;
    margin-bottom: 20px;
}
.service h5
{
    color: #000000;
}
.service p
{
    font-size: 15px;
    line-height: 1.9em;
    color: #514E7F;
    
}
.feature:hover
{
  bottom: 20px;  
}
.bg 
{
  background-image: url(../assets/images/why-us3-bg.png);
  background-repeat: no-repeat;
  background-size:cover;
}
.download
{
  background-image: url(../assets/images/down.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:200px ;
}
.download .overlay
{
  background-color: rgba(121, 135, 28, 0.7);
  height: 100%;
  padding: 40px 20px;
}
.download .overlay .container
{
  overflow: auto;
}
.contnet
{
  width: 70%;
  float: left;
}
.contnet p
{
  font-size: 30px;
  color: white;
}
.contnet h6
{
  color: white;
}
.download
{
  margin-top: 50px;
}
.download .overlay .btn 
{
  width: 30%;

}
.btn button
{
  background-color: #BFD42F;
  border: none;
  color: white;
  border-radius: 10px;
  padding:15px 10px;
}
.btn button a 
{
  color: white;
}
@media (max-width: 575.98px) 
{
  


.service-content-container h1
{
    margin-bottom: 25px;
}


.service i
{
    font-size: 30px;
}

.download .overlay
{
  background-color: rgba(121, 135, 28, 0.7);
  height: 100%;
  padding: 40px 20px;
  text-align: center;
}
.download .overlay .container
{
  overflow: auto;
}
.contnet
{
  width: 100%;
  float: left;
}
.contnet p
{
  font-size: 20px;
  color: white;
}

.download .overlay .btn 
{
  width: 50%;

}

}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) 
{
  .service-content-container h1
{
    margin-bottom: 25px;
}


.service i
{
    font-size: 30px;
}

.download .overlay
{
  background-color: rgba(121, 135, 28, 0.7);
  height: 100%;
  padding: 40px 20px;
  text-align: center;
}
.download .overlay .container
{
  overflow: auto;
}
.contnet
{
  width: 100%;
  float: left;
}
.contnet p
{
  font-size: 20px;
  color: white;
}

.download .overlay .btn 
{
  width: 50%;

}


}


/********************************************** End services **********************************/



.services 
{
    margin: 40px 0px;
   
}
a:hover{
    text-decoration: none;
}
.serv h1 {
    font-family: 'Open Sans', sans-serif;
    color: #BFD42F;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
    margin: 50px 0px;

  }
  .serv h1:after {
    position: absolute;
    left:  0px;
    top: 8px;
 
  }
  .serv h1:after {
    background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -5;
    display: block;
    text-shadow: none;
    
  }

.card
{
    text-align: center !important;
    box-shadow: 0px 0px 10px #E0C194;

}
.card h2
{
    font-size: 25px;
    color: black;
    font-weight: 500;
}
.card img 
{
    width: 100%;
    height: 250px;
}
.card button
{
    padding: 5px 20px;
    border: none;
    background-color: #BFD42F;
    font-size: 17px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0px 0px 10px #E0C194;
    transition-duration: 1s;
}
.card button a 
{
    color: black;
}
a:hover 
{
    text-decoration: none !important;
}

@media (max-width: 575.98px) 
{
    .container
    {
        width: 100%;
    }
.card
{
    text-align: center !important;
    box-shadow: 0px 0px 10px #E0C194;
    margin: auto !important;
    width: 90%;

}

}
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .container
    {
        width:100% !important
    }
    .card
{
    text-align: center !important;
    box-shadow: 0px 0px 10px #E0C194;
    margin: auto !important;
    width: 100%;

}
.card h2
{
    font-size: 20px;
    color: black;
    font-weight: 500;
}

}

/***************************** End Projects  **************************************/

.steps
{
    padding: 50px;
}
.steps h5
{
    color: #514E7F;
    margin-bottom: 20px;
    text-align: center;
}
.steps>p
{
    color: black;
    font-size: 27px;
    margin-bottom: 50px;
    text-align: center;
}
.steps-left
{
    margin-top: 50px;
}
.steps-left .steps-heading 
{
    padding: 12px 0px;
    position: relative;
}
.steps-left .steps-heading::before
{
    background-color:#BFD42F;
    content: "";
    width: 200px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0%;
}
.steps-left .steps-content
{
    margin-top: 30px;
}

.steps-left .steps-content .step .step-h
{
    background-color: rgba(191, 212, 47, 0.3);
    padding: 20px;
    width: 100%;
    border: 1px sold #aeb6c0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.steps-left .steps-content .step .step-b
{
    border: 1px solid rgba(191, 212, 47, 0.3);
    padding: 30px 15px;
}
.step-b p
{ 
    font-size: 15px;
    color: #000000;
}
.clicked
{
    color: #BFD42F;
}
.step
{
    margin-top: 30px;
    cursor: pointer;
}
.steps-right
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.steps-right .circle
{
    width: 450px ;
    height: 450px;
    border: 2px solid #BFD42F;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.circle h2
{
    color: rgba(191,212,47,1);
}
.steps-right .circle::before
{
    width: 450px;
    height: 450px;
    border:2px solid #BFD42F;
    content: "";
    position: absolute;
    border-radius: 50% 48% 49% 45%;
    z-index: -1; 
    animation: spin 7s linear infinite;
    overflow: hidden
}
.steps-right .circle::after
{
    width: 450px;
    height: 450px;
    border:2px solid #BFD42F;
    content: "";
    position: absolute;
    top: 0px;
    border-radius: 48% 48% 48% 49%;
    z-index: -1; 
    animation: spin2 7s linear infinite;
    overflow: hidden
}
@keyframes spin {
    0% 
    {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }
    @keyframes spin2 {
        0% 
        {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
        }
.circle .c 
{
    width:100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(255,255,255);
    background: linear-gradient( rgba(191,212,47,1) 100%, rgba(255,255,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.circle .c img
{
    width: 50px;

}
.circle .c1
{
    position: absolute;
    left: 77%;
    top: 10%;
}
.circle .c2
{
    position: absolute;
    right:77% ;
    top: 10%;
}
.circle .c3
{
    position: absolute;
    left: 85%;
    top: 60%;
}
.circle .c4
{
    position: absolute;
    right: 85%;
    top: 60%;
}
.circle .c5
{
    position: absolute;
    top: 90%;
    right: 35%;
}
/*extra small devices */
@media (max-width: 575.98px) 
{
.steps-right
{
 display: none;
}
    .steps
{
    padding: 20px;
}

.steps>p
{
    color: black;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
}
}
    
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) 
{
.steps-right
{
 display: none;
}
    .steps
{
    padding: 20px;
}

.steps>p
{
    color: black;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
}
}

/****************************************End Steps**********************************************/



h3.title {
    color: #514E7F;
    font-size: 30px;
    text-align: center;
    margin-bottom: 1em;
}
.title span
{
    color: #c0d530;
}
.team-grid {
    text-align: center;

}

.team {
   
    padding: 5em 0;
}

.team-grid h4 {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin: 40px 0 20px;
}

.team-grid p {
    font-size: 1em;
}

.stack img {
    width: 100%;
    height: 300px;
    vertical-align: bottom;
    border: 10px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.p
{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: #979595;
}
.p span 
{
    color: #c0d530;
    font-size: 34px;
}

.stack:last-of-type {
    margin-right: 0;
}

/* Third stack example (One stack element rotated in the opposite direction) */

.stack.twisted:before {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
}

.stack.twisted:after {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
}

/* Reset all rotations on hover */

.stack:hover:before,
.stack:hover:after,
.team-grid:hover .stack:before,
.team-grid:hover .stack:after {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}

/* Stacks creted by the use of generated content */

.stack:before,
.stack:after {
    content: "";
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 10px solid #fff;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    -ms-transition: 0.3s all ease-out;
}

.stack:before {
    top: 4px;
    z-index: -10;
}

/* 1st element in stack (behind image) */

.stack:after {
    top: 8px;
    z-index: -20;
}

/* 2nd element in stack (behind image) */

.stack {
    float: none;
    width: 92%;
    margin: 3% 0% 8% 4%;
    position: relative;
    z-index: 1;
}

/*-- //Team --*/

@media (max-width: 575.98px) 
{
   
    .pic
    {
        width: 80%;
        margin: auto;
    }
    .p
{
    font-size: 16px;
 
}
.p span 
{
    font-size: 20px;
}
    

}
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .pic
    {
        width: 100%;
        margin: auto;
    }
    .p
{
    font-size: 16px;
 
}
.p span 
{
    font-size: 20px;
}

}


/************************************End Team****************************************************/

.clients 
{
    background-color: #ECF2C0;
    padding: 70px;
}
.clients-content
{
    text-align: center;
}
.clients-content h1
{
    font-size: 20px;
    color: #C0D530;
    margin: 10px 0px;
}
.clients-content p
{
    color: #000000;
    font-size: 30px;
    margin-bottom: 30px;
}
/*******************************Contact Us**************************************************/

.contact-container
{
    padding: 100px 0px;
}
.contact-container .p
{
    text-align: center;
    color: #BFD42F;
    margin: 20px;
    font-weight: 100;
}
.contact-container h2
{
    text-align: center;
    margin-bottom: 40px;
}
.contact
{
    box-shadow: 0px 0 36px 0px rgba(130, 136, 147, 0.08);
    padding: 50px;
}
.contact .form-group
{
    margin-bottom: 20px;
}
.contact label
{
    color: gray;
}
.contact button
{
    padding: 10px 0px;
    font-size: 18px;
    background-color: #BFD42F;
    border: none;
    color: #ffffff;
}
.contact-small
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-small .small
{
    box-shadow: 0px 0 36px 0px rgba(130, 136, 147, 0.08);
    background-color: white;
    padding: 50px ;

}
.contact-small .small h3
{
position: relative;
margin-bottom: 20px;
}
.contact-small .small h3::before
{
    content: "";
    position: absolute;
    top: 100%;
    left:0px;
    background-color: #BFD42F;
    width: 50px;
    height: 2px;
}
.contact-small .small p
{
    color: #000000;
    font-size: 14px;
}
.contact-small .small i
{
    color: #BFD42F;
    font-size: 15px;
    margin-right: 5px;
}


/*extra small devices */
@media (max-width: 575.98px) 
{
    .container
    {
        width: 95% !important
    }
    .contact
    {
        padding: 20px;
    }
    .contact-container h2
{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .contact 
    {
        margin-bottom: 20px;
    }
    
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px)
{
   
.contact
{
    padding: 20px;
}

.contact-small .small
{
    padding: 20px ;

}
.contact-small .small h3
{
font-size: 20px;

}




}


/***************************************************Footer********************************/


footer 
{
    padding: 10px;
    text-align: center;
    background-color:#5C661B;
}
footer p
{
    color: white;
}
footer span 
{
    color: #BFD42F;
}


/*****************************Scroll *************************************/
.scroll
{
    width:50px;
    height: 50px;
    font-size: 25px;
    background-color: #BFD42F;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90% !important;
    left: 90% !important;
    z-index: 100000;
    border-radius: 50%;
    z-index: 100000000000000000000000000000000000000000000;


}

@media (max-width: 575.98px) 
{
    .scroll
    {
    
        left: 80% !important; 
    }

}

/************************** Projects ********************************************/
.playStore img 
{
    width: 120px !important;
    height: 40px !important;
}

.Our-Work
{
    width: 100%;
}
a:hover
{
    text-decoration: none;
}
.Our-Work .container-fluid
{
    margin: auto !important;
    background-color: green;
   
   
}
.Our-Work header
{
    width: 100%;
    height: 300px;
    background-image: url(../assets/images/bg3.png);
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 20%;
   
 
}
.Our-Work .content
{
    width: 70%;
    text-align: center;
}
.Our-Work .content h1
{
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}
.Our-Work header p
{
    /*transform: skew(0deg, 5deg);*/
    color:#fff;
    font-size: 20px;
}
.Our-Work .overlay
{
    width: 100%;
    height: 100%;
    background: rgba(191,212,47 ,0.7);

    padding-top:120px ;
    display: flex;
    justify-content: center;
    align-items: center;


    border-bottom-left-radius: 20%;
   
}
.Our-Work .Works
{
    z-index: 10000;
    margin-bottom: 40px;
}
.Our-Work .card img 
{
    height: 250px;
}
.Our-Work .card
{
    box-shadow: 0px 0px 10px gray;
    margin: auto;
}
.Our-Work .card-content
{
    text-align: center;
}
.Our-Work .card-content .btns
{
    display: flex;
    justify-content: space-between;
}
.Our-Work .Demo
{
    padding: 7px 30px;
    background-color: #BFD42F;
    color: #fff;
    border-radius: 10px;
}
.Our-Work .more
{
    padding: 7px 30px;
    background-color: #BFD42F;
    color: #fff;
    border: none;
    border-radius: 10px;
}
.moreBtn
{
    text-align: left;
    display: none;
}
.moreBtn li i 
{
    color: #BFD42F;
    margin-right: 5px;
}
.moreBtn li 
{
    margin-top: 10px;
}

.Our-Work .card p
{
    font-size: 17px;
    font-weight: 600;
    color: black;
}
.Our-Work .fa-arrow-right
{
    margin-left: 5px;
    color: #BFD42F;
    position: relative;
    transition-duration: 5s;

}
.Our-Work .card:hover .fa-arrow-right
{
    left: 10px;
}
.Our-Work .card:hover 
{
    text-decoration: none;
    
}
.Our-Work .display
{
    display: block !important;
}
.Our-Work .flag
{
    height: 28px !important;
    width: 30px;
    margin-left: 10px;
    animation: heartBeat infinite;
    animation-duration: 4s; /* don't forget to set a duration! */
}

/*extra small devices */
@media (max-width: 575.98px) 
{

    .our-work
{
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}


.Our-Work .content
{
    width: 100%;
}
.our-work .overlay h1
{
    
    font-size: 40px;
}


.Our-Work .card
{
  
    width: 100%;
    margin: auto;
}



}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) 
{

   

    .Our-Work .card
    {
      
        width: 100%;
        margin: auto;
    }
    
    
    
    }
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px)
{

   .Our-Work  .card
    {
      
        width: 100%;
        margin: auto;
    }
    
    
    
}

#pop
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000000000000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}
.pop
{
    background-color: #ffffff;
    padding:50px;
    position: relative;
    font-size: 18px;
}
.fa-times
{
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

}